{% extends "base.html" %}

{% block h1_header %}
<h1 style='font-style: oblique;'>Giuliano Acosta</h1>
{% endblock h1_header %}


{% block content %}
<h2 style='color: #4263cf;
    font-weight: bold;'>Creador de I Watch</h2>

<p style='font-size: 1.25rem;
    color: #ebecf0;'>Mi nombre es Giuliano y me estoy adentrando en el mundo de la programacion a traves del lenguaje python. Lenguaje el cual use para crear esta pagina y todo lo que ella contiene. ¿Qué es I Watch? Es un sitio donde personas de todo el mundo pueden leer y publicar reviews sobre sus peliculas y series favoritas, y no tan favoritas, un espacio hecho para compartir pensamientos, posturas, gustos y arte en general.
    La página cuneta con un inicio en el cual te apareceran reseñas de algunos perfiles sobre peliculas y series, también cuenta con una pestaña exclusivamente para películas y otra para series, en las cuales ademas de leer reseñas puedes publicar las tuyas siempre y cuando estes registrado.
    Si buscas expandir y compartir tu opinion con respecto a algunas obras del septimo arte, I Watch es la pagina ideal para tí.
</p>

{% endblock content %}